<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>paper.index.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionService</servlet-name>
    <servlet-class>paper.exam.QuestionService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.index.MessageServlet</servlet-name>
    <servlet-class>paper.index.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PerInfoServlet</servlet-name>
    <servlet-class>paper.perInfo.PerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.discussion.CreateDiscussionThemeServlet</servlet-name>
    <servlet-class>paper.discussion.CreateDiscussionThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.discussion.GetDiscussionThemeServlet</servlet-name>
    <servlet-class>paper.discussion.GetDiscussionThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.exam.GetQuestionService</servlet-name>
    <servlet-class>paper.exam.GetQuestionService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.perInfo.EditPerInfo</servlet-name>
    <servlet-class>paper.perInfo.EditPerInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.exam.CreateQuestionRecordServlet</servlet-name>
    <servlet-class>paper.exam.CreateQuestionRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.exam.UpdateQuestionRecordServlet</servlet-name>
    <servlet-class>paper.exam.UpdateQuestionRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.perInfo.GetQuestionCollectListServlet</servlet-name>
    <servlet-class>paper.perInfo.GetQuestionCollectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.exam.CancelQuestionCollectServlet</servlet-name>
    <servlet-class>paper.exam.CancelQuestionCollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.perInfo.GetQuestionRecordStatisticsServlet</servlet-name>
    <servlet-class>paper.perInfo.GetQuestionRecordStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.index.EditPwdServlet</servlet-name>
    <servlet-class>paper.index.EditPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.perInfo.GetQuestionCollectStatisticsServlet</servlet-name>
    <servlet-class>paper.perInfo.GetQuestionCollectStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.index.GetRankingServlet</servlet-name>
    <servlet-class>paper.index.GetRankingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.discussion.ReplyDiscussionServlet</servlet-name>
    <servlet-class>paper.discussion.ReplyDiscussionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.discussion.GetDiscussionContentServlet</servlet-name>
    <servlet-class>paper.discussion.GetDiscussionContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paper.exam.GetQuestionByIdServlet</servlet-name>
    <servlet-class>paper.exam.GetQuestionByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paper.exam.GetQuestionByIdServlet</servlet-name>
    <url-pattern>/paper.exam.GetQuestionByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.index.GetRankingServlet</servlet-name>
    <url-pattern>/paper.index.GetRankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.exam.CancelQuestionCollectServlet</servlet-name>
    <url-pattern>/paper.exam.CancelQuestionCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.perInfo.GetQuestionCollectListServlet</servlet-name>
    <url-pattern>/paper.perInfo.GetQuestionCollectListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.exam.CreateQuestionRecordServlet</servlet-name>
    <url-pattern>/paper.exam.CreateQuestionRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.exam.GetQuestionService</servlet-name>
    <url-pattern>/paper.exam.GetQuestionService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.discussion.GetDiscussionThemeServlet</servlet-name>
    <url-pattern>/paper.discussion.GetDiscussionThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.discussion.CreateDiscussionThemeServlet</servlet-name>
    <url-pattern>/paper.discussion.CreateDiscussionThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.index.MessageServlet</servlet-name>
    <url-pattern>/paper.index.MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PerInfoServlet</servlet-name>
    <url-pattern>/paper.perInfo.PerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionService</servlet-name>
    <url-pattern>/QuestionService.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.perInfo.EditPerInfo</servlet-name>
    <url-pattern>/paper.perInfo.EditPerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.exam.UpdateQuestionRecordServlet</servlet-name>
    <url-pattern>/paper.exam.UpdateQuestionRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.perInfo.GetQuestionRecordStatisticsServlet</servlet-name>
    <url-pattern>/paper.perInfo.GetQuestionRecordStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.index.EditPwdServlet</servlet-name>
    <url-pattern>/paper.index.EditPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.perInfo.GetQuestionCollectStatisticsServlet</servlet-name>
    <url-pattern>/paper.perInfo.GetQuestionCollectStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.discussion.ReplyDiscussionServlet</servlet-name>
    <url-pattern>/paper.discussion.ReplyDiscussionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.discussion.GetDiscussionContentServlet</servlet-name>
    <url-pattern>/paper.discussion.GetDiscussionContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paper.index.VerityAccountServlet</servlet-name>
    <servlet-class>paper.index.VerityAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>paper.file.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>paper.file.DownLoadServlet</servlet-name>
    <servlet-class>paper.file.DownLoadServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>paper.index.VerityAccountServlet</servlet-name>
    <url-pattern>/paper.index.VerityAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/paper.file.UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paper.file.DownLoadServlet</servlet-name>
    <url-pattern>/paper.file.DownLoadServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>paper.listen.InitializeListener</listener-class>
  </listener>
</web-app>