<!--个人资料-->
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4 name">昵称：</div>
                <div class="col-sm-8 input-detail">
                    <input type="text" class="form-control" ng-model="data.name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 name">性别：</div>
                <div class="col-sm-4 input-detail">
                    <label><input type="radio" name="sex" value="1" ng-model="data.sex">男</label>
                </div>
                <div class="col-sm-4 input-detail">
                    <label><input type="radio" name="sex" value="0" ng-model="data.sex">女</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 name">生日：</div>
                <div class="col-sm-8 input-detail">
                    <label><input type="date" class="form-control" ng-model="data.birth"></label>
                </div>
            </div>
            <!--<div class="row">-->

                <!--<div class="col-sm-4 name">头像：</div>-->
                <!--<div class="col-sm-8 input-detail">-->
                    <!--<input type="file" class="form-control">-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="col-sm-6">
            <img style="width: 180px;height: 180px;" ng-src="{{data.portrait}}">
        </div>
        <div class="row imagePic col-sm-12">
            <div class="left" ng-repeat="item in portraitUrl">
                <img ng-click="changePortrait(item.url)" ng-src="{{item.url}}">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4 ">
                <button type="button" class="btn btn-sm btn-default" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>