<!--习题统计-->
<!--<div class="panel panel-default" >-->
    <!--<div class="panel-heading">个人资料</div>-->
    <!--<div class="panel-body">-->
        <!--<img src="{{perInfo.portrait}}"-->
             <!--style="border: 1px solid ;width: 100px;height: 100px;margin: 20px 44px 0 44px">-->
        <!--<label style="width: 100%;text-align: center;"><span ng-bind="perInfo.name"></span></label>-->

        <!--<div style="margin-top: 10px;border-top: 1px dashed #ccc">-->
            <!--<h5 style="margin-top: 10px;">访问：<span ng-bind="perInfo.flow"></span></h5>-->
            <!--<h5 style="margin-top: 10px;">积分：<span ng-bind="perInfo.credits"></span></h5>-->
            <!--<h5 style="margin-top: 10px;">等级：<span ng-bind="perInfo.rank"></span></h5>-->
            <!--<h5 style="margin-top: 10px;">排行：</h5>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="panel panel-default" style="margin-bottom: 0;width: 675px;height: 540px">
    <div class="panel-heading">
        个人统计
    </div>
    <div class="panel-body">
        <div e-charts option="echartsOption" style="width: 600px;height: 465px;"></div>
    </div>
</div>
